In [33]:
import numpy as np
import pandas as pd

Data Preparation

In [34]:
df=pd.read_csv("Stress.csv")
df.head(2)

,subreddit,post_id,sentence_range,text,label,confidence,social_timestamp
0,ptsd,8601tu,"(15, 20)","He said he had not felt that way before, sugge...",1,0.8,1521614353
1,assistance,8lbrx9,"(0, 5)","Hey there r/assistance, Not sure if this is th...",0,1.0,1527009817

In [35]:
df.shape

(2838, 7)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2838 entries, 0 to 2837
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subreddit         2838 non-null   object
 1   post_id           2838 non-null   object
 2   sentence_range    2838 non-null   object
 3   text              2838 non-null   object
 4   label             2838 non-null   int64
 5   confidence        2838 non-null   float64
 6   social_timestamp  2838 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 155.3+ KB

In [37]:
not_used_cols=['subreddit','post_id','sentence_range','confidence','social_timestamp']
df1=df.drop(not_used_cols,axis=1)

In [38]:
df1.sample(3)

                                                   text  label
666   Which now leads me to where I am now. I had a ...      0
1950  In a shame spiral, validation after asking fee...      1
26    I really don’t know what to do about this, and...      1

In [39]:
df1['label'].unique()

array([1, 0], dtype=int64)

In [40]:
import nltk
import re
from urllib.parse import urlparse
from spacy import load
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize